<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-lg btn-secondary btn-block mt-3" routerLink="" routerLinkActive='active'>Home</button>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-6">
      <button class="btn btn-lg btn-secondary btn-block mt-3" routerLink="about" routerLinkActive='active'>About</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-secondary btn-lg btn-block mt-3" routerLink="contact" routerLinkActive='active'>Contact</button>
    </div>
  </div>
  <hr>
  <router-outlet></router-outlet>
</div>
